
= form_for product, url: form_product_url(product: product), method: method do |form|

  .form-group.row
    .col-3.col-form-label
      = form.label :title
    .col-9
      = form.text_field :title, class: "form-control"

  .form-group.row
    .col-3.col-form-label
      = form.label :body_html
    .col-9
      = form.cktext_area :body_html, class: "form-control"

  .form-group.row
    .col-3.col-form-label
      = form.label :image
    .col-9
      = form.file_field :image

  = fields_for :variants, product.variants[0] do |variant|
    .form-group.row
      .col-3.col-form-label
        = variant.label :weight

      .col-9
        .input-group
          = variant.text_field :weight, class: "form-control"
          .input-group-append
            .input-group-text kg

    .form-group.row
      .col-3.col-form-label
        = variant.label :price
      .col-9
        .input-group
          = variant.text_field :price, class: "form-control"
          .input-group-append
            .input-group-text $


  = fields_for :metafields, product.metafields[0] do |meta|
    .form-group.row
      .col-3.col-form-label
        = meta.label :position
      .col-9
        .input-group
          = meta.text_field :value, class: "form-control"
          .input-group-append
            .input-group-text
              %i.fa.fa-area-chart

      :css
        #map { height: 400px; width: 100%; }
      #map
      :javascript
        mapboxgl.accessToken = 'pk.eyJ1Ijoic29tMmgiLCJhIjoiY2s3d2FsejlpMDA3czNmcXJ3YzZrdG04aCJ9.BbPf2gG-DvC9ho8tH-X7bw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [0, 0],
            zoom: 2
        });

        var canvas = map.getCanvasContainer();

        var geojson = {
          'type': 'FeatureCollection',
          'features': [{
              'type': 'Feature',
              'geometry': {
                  'type': 'Point',
                  'coordinates': [0, 0]
              }
          }]
        };

        function onMove(e) {
          var coords = e.lngLat;
          canvas.style.cursor = 'grabbing';
          geojson.features[0].geometry.coordinates =  [coords.lng, coords.lat];
          map.getSource('point').setData(geojson);
        }

        function onUp(e) {
          var coords = e.lngLat;
            document.getElementById('metafields_value').value =  [coords.lng, coords.lat].join();
            canvas.style.cursor = '';
            map.off('mousemove', onMove);
            map.off('touchmove', onMove);
        }

        map.on('load', function() {
            map.addSource('point', {
                'type': 'geojson',
                'data': geojson
            });

            map.addLayer({
                'id': 'point',
                'type': 'circle',
                'source': 'point',
                'paint': {
                    'circle-radius': 10,
                    'circle-color': '#3887be'
                }
            });

            map.on('mouseenter', 'point', function() {
                map.setPaintProperty('point', 'circle-color', '#3bb2d0');
                canvas.style.cursor = 'move';
            });

            map.on('mouseleave', 'point', function() {
                map.setPaintProperty('point', 'circle-color', '#3887be');
                canvas.style.cursor = '';
            });

            map.on('mousedown', 'point', function(e) {
                e.preventDefault();
                canvas.style.cursor = 'grab';
                map.on('mousemove', onMove);
                map.once('mouseup', onUp);
            });

            map.on('touchstart', 'point', function(e) {
                if (e.points.length !== 1) return;
                e.preventDefault();
                map.on('touchmove', onMove);
                map.once('touchend', onUp);
            });
        });

  .form-group.row
    .offset-3.col-9
      = form.submit class: "btn btn-primary"
