= form_for @product, url: products_path, method: :post do |form|

  = form.label :title
  = form.text_field :title

  = form.label :body_html
  = form.text_area :body_html

  = form.label :product_type
  = form.text_field :product_type

  = form.submit