= form_for @product, url: products_path, method: :post do |form|

  .form-group.row
    .col-3.col-form-label
      = form.label :title
    .col-9
      = form.text_field :title, class: "form-control"

  .form-group.row
    .col-3.col-form-label
      = form.label :body_html
    .col-9
      = form.cktext_area :body_html, class: "form-control"

  .form-group.row
    .col-3.col-form-label
      = form.label :image
    .col-9
      = form.file_field :image

  .form-group.row
    .col-3.col-form-label
      = form.label :weight

    .col-9
      .input-group
        = form.text_field :weight, class: "form-control"
        .input-group-append
          .input-group-text kg
  
  .form-group.row
    .col-3.col-form-label
      = form.label :price

    .col-9
      .input-group
        = form.text_field :price, class: "form-control"
        .input-group-append
          .input-group-text $

  .form-group.row
    .col-3.col-form-label
      = form.label :position
      
    .col-9
      .input-group
        = form.text_field :value, class: "form-control"
        .input-group-append
          .input-group-text
            %i.fa.fa-area-chart

  .form-group.row
    .offset-3.col-9
      = form.submit class: "btn btn-primary"
