:ruby
  img_src = image_url(@product)

.container
  %h2 Product #{@product.title}
  %br/
  .jumbotron
    .row
      .col-8
        %img.rounded.img-fluid{:alt => "Default", :src => img_src}/
        %br/
        %br/
      .col-4
        %table.table.table-bordered.table-striped
          %tr
            %td Id
            %td= @product.id
          %tr
            %td Title
            %td= @product.title
          %tr
            %td Vendor
            %td= @product.vendor
          %tr
            %td Product type
            %td= @product.product_type
          %tr
            %td Created at
            %td= @product.created_at
          %tr
            %td Updated at
            %td= @product.updated_at
          %tr
            %td Published at
            %td= @product.published_at
          %tr
            %td Handle
            %td= @product.handle
          %tr
            %td Published scope
            %td= @product.published_scope
          %tr
            %td Price
            %td= @product.variants.first.price
          %tr
            %td Position
            %td= @product.metafields[0]&.value


      = raw(@product.body_html)
