:ruby
  img_src = image_url(@product)

.container
  %h2 Product #{@product.title}
  %br/
  .jumbotron
    .row
      .col-4
        %ul.list-group
          %li.list-group-item= @product.id
          %li.list-group-item= @product.title
          %li.list-group-item= @product.vendor
          %li.list-group-item= @product.product_type
          %li.list-group-item= @product.created_at
          %li.list-group-item= @product.updated_at
          %li.list-group-item= @product.published_at
          %li.list-group-item= @product.handle
          %li.list-group-item= @product.published_scope
          %li.list-group-item= @product.variants.first.price

      .col-8
        %img.rounded.img-fluid{:alt => "Default", :src => img_src}/
        %br/
        %br/
        = raw(@product.body_html)
